body {
  margin: 0;
}

.container {
  display: flex;
}
.board-container, .history-container {
  width: 50%;
  margin: 28px;
}
.history-container li {
  list-style-type: none;
}

.game-status {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 20px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: 0 auto;
}

.square {
  height: 100px;
  padding: 12px;
  font-size: 44px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.moves-container {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
